<div class="container-fluid text-center p-3">
		  <a class="btn btn-success" href="/addpost" role="button"><i class="bi bi-plus-lg me-2"></i>Postingan Baru</a>
		  <div class="container text-start mt-3">
			  <% if(content.length < 1) { %>
			  <div class="alert alert-danger" role="alert">
				  Belum ada postingan! Silahkan tambah sebuah postingan
			  </div>
			  <% } else { content.forEach((e) => { %>
			  <div class="card mb-3">
				  <img src="<%= e.gambar  %>" class="img-card-top" alt="...">
				  <div class="card-body">
					  <h5 class="card-title"><%= e.nama %></h5>
					  <p class="card-text"><%= e.caption %></p>
				  </div>
			  </div>
			  <% })} %>
		  </div>
	  </div>
